version: '3'

services:
    openrestry-gateway:
        image: registry.cn-shenzhen.aliyuncs.com/nekoimi/openresty
        ports:
            - "8080:80"
        networks:
            - openresty-net
        volumes:
            - "./html:/usr/local/openresty/nginx/html"
            - "./lua:/usr/local/openresty/nginx/lua"
            - "./nginx.conf:/usr/local/openresty/nginx/conf/nginx.conf"
            - "./logs:/var/log/nginx"
            - "./conf.d:/etc/nginx/conf.d"
        environment:
            - TZ=Asia/Shanghai
        restart: always
        privileged: true

networks:
    openresty-net:
        driver: bridge
